* {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('./assets/bg2.jpg');
    background-size: 135%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    font-family: Arial, sans-serif;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f800; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

header > h1 {
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    padding: 25px;
    color: #fafafa;
    background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
    gap: 15px;
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

nav > a {
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    color: #fafafa;
    transition: all 0.3s;
}

nav > a:hover {
    background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

section {
    border-radius: 15px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: #fafafa;
    background: linear-gradient(180deg, rgb(11, 68, 122) 0%, rgba(145, 112, 62, 0.904) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(131, 14, 14, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

form {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    width: 300px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.blade-container {
    position: relative;
    min-height: 400px;
    width: 100%;
}

.blade {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease;
    z-index: 1;
    overflow: hidden;
}

.blade-active {
    transform: translate(-50%, -100%) scale(1);
    opacity: 1;
    z-index: 2;
    transition: transform 0.2s ease 0.2s, opacity 0.2s ease 0.2s;
    overflow:visible;
}


/* ABOUT ME */
.blade:nth-child(1):not(.blade-active) {
    transform: translateY(40%) translateX(-50%) scale(0.7);
}

/* CONTACT  */
.blade:nth-child(2):not(.blade-active) {
    transform: translateY(60%) translateX(-50%) scale(0.7);
}

/* RESUME */
.blade:nth-child(3):not(.blade-active) {
    transform: translateX(-50%) translateY(80%) scale(0.7);
}

/* PROJECTS */
.blade:nth-child(4):not(.blade-active) {
    transform: translateX(-50%) translateY(100%) scale(0.7);
}
