* {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(to right, blue, green);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
    font-family: Arial, sans-serif;
    color: white; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f800; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 25px;
    gap: 15px;
    background: linear-gradient(180deg, rgba(99, 102, 104, 0.9) 0%, rgba(69, 71, 71, 0.9) 50.52%, rgba(52, 52, 52, 0.9) 53.12%, rgba(0, 0, 0, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

nav > a {
    text-decoration: none;
    border-radius: 15px;
    padding: 5px 10px;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    color: #fafafa;
    transition: all 0.3s;
}

nav > a:hover {
    background: linear-gradient(180deg, rgba(83, 85, 87, 0.9) 0%, rgba(14, 15, 15, 0.9) 100%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3), inset 0px 2px 1px rgba(255, 255, 255, 0.3), inset 0px -2px 1px rgba(0, 0, 0, 0.4);
}

